* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(45deg, purple, rgb(216, 86, 166));
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  height: 300px;
  width: 500px;
  border-radius: 0.8rem;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

h1 {
}

#input-text {
  background: rgb(232, 232, 232);
  padding: 10px;
}
